<ion-content [fullscreen]="true">
  <div class="wrapper">

    <div class="large_icon_block">
      <img src="../../assets/logo.png">
      <h1>YummyYu</h1>
      <div class="subheader">
        <div class="subheader_item">Торти</div>
        <div class="subheader_item">|</div>
        <div class="subheader_item">Випічка</div>
        <div class="subheader_item">|</div>
        <div class="subheader_item">Десерти</div>
      </div>
    </div>

    <div class="large_buttons_group">
      <button class="ion-activatable ripple-parent large default" (click)="setLanguage('ua')">
        українська мова
        <img src="../../assets/next_white.svg">
        <ion-ripple-effect></ion-ripple-effect>
      </button>
      <button class="ion-activatable ripple-parent large light" (click)="setLanguage('ru')">
        русский язык
        <img src="../../assets/next_orange.png">
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>

  </div>
</ion-content>